# Files
*.conf
*.db
*.db-journal
*.log
*.noload
*.sqlite
*.txt
*.xml
*.mp3
.HA_VERSION
known_devices.yaml
google_calendars.yaml
secrets.yaml
.google.token
.uuid

# Directories
icloud
deps
www
.cloud

# Python Caches
__pycache__
*.pyc
